{
  "from": {
    "id": "NIX_ENV_NAME",
    "type": "indirect"
  },
  "to": {
    "owner": "Joelgranados",
    "dir": "NIX_ENV_NAME",
    "repo": "nenvs",
    "type": "github",
    "ref": "NIX_ENV_REF"
  }
}
